/*
 * This file is part of Giles's Webgame.
 *
 * (c) Marcel Moosbrugger
 *
 * This source file is subject to the MIT license that is bundled
 * with this source code in the file LICENSE.
 */

.about-page {
  padding: 0 220px 100px 220px;
  margin: 0 auto;
  max-width: 800px;
  white-space: normal;

  p, ul {
    line-height: 30px;
  }

  p {
    text-align: justify;
  }

  ul {
    list-style-type: circle;
    padding-left: 40px;
  }

  sub {
    font-size: 12px;
    position: relative;
    top: 3px;
  }

  em {
    font-weight: bold;
    font-style: normal;
  }
}
