/*
 * This file is part of Giles's Webgame.
 *
 * (c) Marcel Moosbrugger
 *
 * This source file is subject to the MIT license that is bundled
 * with this source code in the file LICENSE.
 */

@import "reset";
@import "definitions";

html, body {
  width: 100%;
  height: 100%;
}

body > * {
  width: 100%;
  height: 100%;
}

* {
  @include sans-serif-font("Noto Sans");
  color: $neutralColor;
}

body {
  background: $baseColor;
}

a {
  color: $highlightColor;
}

p {
  @include serif-font("Noto Serif");
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 22px;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  color: white;
  background: $highlightColor;
  line-height: 40px;
  padding: 0 60px;
  font-size: 16px;
  text-transform: uppercase;
  outline: none;
  @include sans-serif-font("Noto Sans CJK JP Medium");
  transition: background 0.2s;

  &.disabled {
    cursor: default;
    background: $neutralColor4;
  }

  &.small {
    line-height: 30px;
    padding: 0 30px;
    height: 30px;
  }
}

label {
  @include sans-serif-font("Noto Sans CJK JP Thin");
}

h1 {
  @include sans-serif-font("Noto Sans CJK JP Thin");
  font-size: 42px;
  margin-top: 20px;
  margin-bottom: 40px;
}

h2 {
  @include sans-serif-font("Noto Sans CJK JP Thin");
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
}

dl {
  display: flex;

  dd {
    @include sans-serif-font("Noto Sans CJK JP Thin");
  }

  dt {
    padding-right: 10px;
  }
}

.background {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  color: darken($baseColor, 3);

  &::before {
    content: "\2200";
    display: block;
    font-size: 80vh;
    position: absolute;
    bottom: 15vh;
    right: 25vw;
  }

  &::after {
    @extend .fa;
    display: block;
    content: "\f004";
    font-size: 50vh !important;
    position: absolute;
    bottom: 5vh;
    right: 15vw;
  }
}

.box {
  padding: 10px;
  border: 4px solid darken($baseColor, 4%);
  border-radius: 5px;
  background: rgba($baseColor, 0.6);

  label {
    @include sans-serif-font("Noto Sans CJK JP Bold");
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
  }

  .select {
    display: block;

    select {
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      padding-right: 25px;
    }

    &::after {
      @extend .fa;
      content: "\f13a";
      margin-left: -20px;
      color: $mainColor2;
      pointer-events: none;
      cursor: pointer;
      background: $baseColor;
    }
  }
}
