/*
 * This file is part of Gile's Webgame.
 *
 * (c) Marcel Moosbrugger
 *
 * This source file is subject to the MIT license that is bundled
 * with this source code in the file LICENSE.
 */

@import "definitions";

.game-stepper {

  .description {
    display: block;
    text-align: center;
    opacity: 0.6;
    margin-bottom: 10px;
  }

  .formula {
    display: block;
    text-align: center;
    font-size: 48px;
    color: $neutralColor2;
  }

  .role {
    display: block;
    text-align: center;
    margin: 40px 0 20px 0;

    .proponent {
      color: $highlightColor;
    }
    .opponent {
      color: $mainColor2;
    }
  }

  .table-list .computer-will-select {
    color: $highlightColor;
  }
}
