/*
 * This file is part of Giles's Webgame.
 *
 * (c) Marcel Moosbrugger
 *
 * This source file is subject to the MIT license that is bundled
 * with this source code in the file LICENSE.
 */

@import "definitions";

.landing-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  nav {
    text-align: center;
    text-transform: uppercase;
    font-size: 100px;

    li {
      line-height: 180px;
    }

    a {
      display: block;
      position: relative;
      top: -2px;
      color: $mainColor1;
      font-weight: bold;
      transition: color 0.2s;

      &:hover {
        color: $highlightColor;
      }
    }
  }
}
